.team-create-div{
    display:flex;
    justify-content: center;
    margin: 30px;
    margin-bottom: 60px;
}
#btnCreateTeam{
    margin-left: 10px;
}
#team-member0{
   display:flex;
    justify-content: center;
}

#btnAddTeamMember0{
        margin-left: 10px;
        padding-right: 10px;
        padding-left: 10px;
}