.add-phase-layout{
/*width: 100%;*/
display: flex;
justify-content: center;
/*background-color: red;*/
text-align:center;


}
/*.p-float-label{*/
/*    margin-left: 100px;*/
/*}*/
#btnSubmit{
    margin-left: 50px;
    height: 35px;
/*background-color: red;*/

}

#space-div{
    margin-left: 50px;
}
#center-video{
    display: flex;
    justify-content:center;
}